@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Gotham-Rounded;
    font-weight: bold;
    src: url(../fonts/GothamRounded-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

.containerGeneral {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.containerInner {
    max-width: 1280px;
    margin: 0 auto;
}

/*header*/

.header {
    box-shadow: 2px 2px 8px #47209978;
}
.navMain {
    border-bottom: 2px solid #2F1666;
    padding-bottom: 24px;
}

.listMenuSign {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-image: linear-gradient(to right, #472099, #2F1666, #472099);
    font-weight: 300;
    width: 100%;
    padding: 8px 0;
}



.listMenuSign a {
    color: #FFFFFF;
    padding: 0 1.5rem;
}

.listMenuSign a:hover {
    color: #e3d8fc;
}

.listMenuMain {
    display: flex;
    align-items: center;
}

.listMenuMain li {
    font-weight: 500;
}

.badge {
    font-size: 1.0rem;
}

.fa-bell {
    font-size: 2.0rem;
}
/* nav-bar bootstrap */

#navBar li {
    margin-left: 2rem;
    font-weight: 500;
    font-size: 1.8rem;
}

#navBar li ul li {
    margin: 0;
}

.logo {
    padding: 2rem;
}

.navMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.listMenuMain a {
    color: #2F1666;
    font-size: 1.8rem;
}

.listMenuMain a:hover {
    color: #5824c7;

}


/* color hover */

.menu li a:hover {
    color: #6232c9;
}
/* color hover end */

/* header end */



/*main*/

h1 {
    color: #472099;
    font-family: Gotham-Rounded;
    font-weight: bold;
    font-size: 3.8rem;
    padding: 1.6rem 0 1.6rem 3rem;
}

.title {
    padding-top: 2.8rem;
}


h2 {
    color: #472099;
    font-family: Gotham-Rounded;
    font-weight: bold;
    font-size: 3.0rem;
    padding: 16px 0;
}


p {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.pMain {
    padding-left: 3rem;
}


th {
    color: #472099;
}

table, th, td {
    border: solid #2F1666;
    border-collapse: collapse;
}

ul, ol {
    list-style: none;
}


ul li a {
    text-decoration: none;

}

article {
    padding: 2rem;
}

form legend,fieldset,input {
    padding: 8px;
    margin: 4px;
}

.downloadStore {
    text-align: center;
    margin: 24px;
    display: inline-block
}

.video {
    width: 100%;
    height: auto;
}

.bold {
    font-weight: bold;
}

/*hero*/


.containerHero {
    padding: 0 0 4rem 0;
    margin: 0;
}

    .containerHero h1, .containerHero h2, .containerHero p, .containerHero a {
        color: #ffffff;
        text-decoration: none;
    }

.heroInfo {
    padding: 3rem;
    position: absolute;
    top: 24rem;
    width: 40%;

}

.descriptionHero {
    padding-left: 3rem;
}

.heroIcon {
    width: 96px;
}

.heroStoreText {
    font-size: 1.6rem;
}

/* hero end */




/*elevator*/

.featuredContainer {
    margin: 0 auto;
    padding: 4rem;
    box-shadow: 2px 2px 16px 2px #cbc3e0;
    background-color:#f9f6ff ;
    border-radius: 16px;
}

.elevatorTitle {
    font-size: 3.4rem;
    text-align: center;
}
.elevatorText {
    font-size: 2rem;
    line-height: 3.2rem;
}

/* elevator end */

.destacadasContainer {
    padding-top: 4rem;
}

/*grid*/

.articleImgLeft {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 40% 60%;
}

img.reverseImg {
    grid-row-end: auto;

}

.imgLeft-1 {
    max-width: 80%;
    height: auto;
}

.imgLeft-2 {
    max-width: 100%;
    height: auto;
}

.articleImgRight {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 60% 40%;
}

.imgRight-1 {
    max-width: 100%;
    height: auto;
}

/* grid end */

.downloadCta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
}

/* sign in form */

.signInSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signInBg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.2rem;
}

#signInForm {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 2rem;
}

.signInBtn {
    background-color: #038478;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #698a87;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    padding: 1rem;
} 

.signInBtn:hover {
    background-color: #4a9790;
} 

form input {
    border-radius: 4px;
}

.socialSign {
text-align: center;
display: inline-flex;

}

    .socialSign li {
        padding: 2.4rem 2rem 0 2rem;
        color: #2F1666;
    }

        .socialSign li a {
            color: #2F1666;
            font-size: 1.4rem;
        }

        .socialSign li a:hover {
            color: #5824c7;
        }

    .socialSign i {
        font-size: 2.8rem;
        padding-bottom: 0.6rem;
    }

/* sign in form end */


.crearCuentaBtn {
    padding: 1rem;
    margin: 2rem 2rem 8rem 2rem;
    font-size: 1.4rem;
    background-color: #472099;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #785cb6;
}

.crearCuentaBtn:hover {
    background-color:#5824c7;
}

/* espacio pagina descargar */
#downloadSection {
    margin-bottom: 12rem;
}

/* video como funciona */

.videoComoFunciona {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 2.4rem;
}

/* contacto */

.contactContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}



.contactLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.contactList {
    text-align: center;
}

.contactIcons {
    text-align: center;
    
    }
    
        .contactIcons li {
            padding: 2.4rem 2rem 0 2rem;
            color: #2F1666;
        }
    
            .contactIcons li a {
                color: #2F1666;
                font-size: 1.4rem;
            }
    
            .contactIcons li a:hover {
                color: #5824c7;
            }
    
        .contactIcons i {
            font-size: 2.8rem;
            padding-bottom: 0.6rem;
        }

#contactForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 2rem;
    margin: 0 auto 2rem auto;
}

/* fin contacto */


/* footer */
.footer {
    border-top: 2px solid #2F1666;
    background-color: #eae3fa;
    padding: 0;
}

footer nav {
    padding: 16px;
    background-color: #472099;
    color: #FFFFFF;
}

.containerFooterIcons {
    padding: 8px;
    margin: 0;
}

.containerFooterSocial i {
    font-size: 38px;
    margin: 8px;
    color: #472099;
}

.containerFooterSocial a:hover i {
    color: #5824c7;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}    

footer nav a {
    padding: 8px;
    color: #ffffff;
}

footer nav a:hover {
    color: #e3d8fc;
}


.menu footer ul li {
    font-size: 1.4rem;
}

.onlineSign {
    border: 1px solid #2F1666;
}

hr {
    border-top: 1px solid #4a9790;
}


.storeFooter {
    width: 64px;
    margin: 8px;
}

.logoFooter {
    width: 64px;
    margin: 8px 32px;
}

/* footer end */


/* transformaciones, animaciones */


.efecto-latido:hover {
    animation-name: efecto-latido;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes efecto-latido {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
    
}

a .logoFooter {
    transition: all 1s;
}
a .logoFooter:hover {
    transform: rotateY(360deg);

}


@media only screen and (max-width: 1280px) {
    
    .playStoreImg, .appStoreImg {
        width: 64px;
    }
    .heroStoreText {
        font-size: 1.2rem;
    }
    .heroInfo {
        padding: 1.2rem;
    }

    .downloadStore {
        margin: 1.2rem;
    }
}




@media only screen and (max-width: 768px) {

    
    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .navMenu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    /* hero */

    .heroInfo {
        padding: 3rem;
        position: static;
        width: auto; 
    }

    .storeHeroContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .containerHero h1, .containerHero h2, .containerHero p, .containerHero a {
        color:#472099;
        text-decoration: none;
    }

    .containerHero {
        padding: 0;
    }


    /*Home funciones destacadas*/
    /*grid*/

    .featuredContainer {
        margin: auto;
    }

    .articleImgLeft {
        display: grid;
        justify-items: center;
        grid-template-columns: 100%;
    }

    img.reverseImg {
        grid-row-end: -1;

    }

    .imgLeft-1 {
        max-width: 100%;
        height: auto;
    }

    .imgLeft-2 {
        max-width: 100%;
        height: auto;
    }

    .articleImgRight {
        display: grid;
        justify-items: center;
        grid-template-columns: 100%;
    }

    .imgRight-1 {
        max-width: 100%;
        height: auto;
    }
    /*fin grid*/

    .downloadCta {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* contacto */

    .contactContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    /* footer */

    footer nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }    

    
}


@media only screen and (max-width: 480px) {
    
    .listMenuSign {
        display: flex;
        justify-content: space-around;
    }

    .listMenuSign li {
        font-size: 1rem;
    }

    .logo {
        width: 75%;
    }
    
    section {
        margin: 8px;
        padding: 8px;
    }
    .containerFooterIcons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        margin: 0;
    }

    .descriptionHero {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    .elevatorText {
        font-size: 1.8rem;
        line-height: 2.8rem;

    }
}

